.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: var(--font-cur);
}

.main.description {
  display: inherit;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-cur);
}

.description h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding-bottom: 20px;
}

.keepercontainer {
  text-align: center;
  max-width: 100%;
  padding: 10px;
  margin: 20px 0px;
  background-color: #ffffff0c;
  box-shadow: 0px 0px 10px #ffffff0c;
  border-radius: 10px;
}

.marketcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 1080px;
}

.itemscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  min-height: 350px;
  margin: 10px;
  padding: 10px;
  background-color: #00000073;
  border-radius: 10px;
  box-shadow: inset 0px 3px 2px #ffffff4d;
}

.itemscontainer:hover {
  box-shadow: var(--button-glow);
}

.imgcontainer {
  position: relative;
  margin: 5px auto 10px auto;
  width: 180px;
  height: 250px;
}

.imgcontainer img {
  object-fit: contain;
}

.coll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coll img {
  padding-right: 5px;
}

.price {
  font-weight: 600;
  font-size: medium;
  color: #ff6700;
  padding-top: 10px;
}

.grid1 {
  font-size: small;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 60px [col-start]);
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: var(--font-cur);
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
  }

}
